.pizza {

border:1px solid;
margin-bottom: 1em;
padding:1em;

}

body{

    background-color: #011627;
    color:#fdfffc;
}

.container{

    width:70%;
    margin:auto;
}



.pizza{

    margin:0.5em;
    padding:0.5em;
    width:20em;
    border-radius:0.25em;
    display:inline-block;
    background-color: #2ec4b6;
    color:#011627;
}

.btn{

    color:#ff9f1c;
    background-color: #e71d36;
    margin-top:0.5em;
    padding:0.5em;
    border-radius:0.5em;
    float:right;
}

table{

    border-collapse:collapse;
    width:100%
}
th,td{

    border:0.5px solid #fdfffc;
    padding:0.5em;
}

.message{

    padding:1em;
    color:#e71d36;
}

.cart{

    display:flex;
}

.cart div{

    flex:1em;
}

[x-cloak] {

    display:none
    !important;
}